USE [master]
GO
/****** Object:  Database [bd_quiz]    Script Date: 24/11/2023 12:59:54 ******/
CREATE DATABASE [bd_quiz]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bd_quiz', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\bd_quiz.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bd_quiz_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\bd_quiz_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bd_quiz].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bd_quiz]
GO
/****** Object:  Table [dbo].[alias]    Script Date: 24/11/2023 12:59:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[alias](
	[alia_id] [int] IDENTITY(1,1) NOT NULL,
	[alia_descripcion] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[alia_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[avatares]    Script Date: 24/11/2023 12:59:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[avatares](
	[avat_id] [int] IDENTITY(1,1) NOT NULL,
	[avar_descripcion] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[avat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[canciones]    Script Date: 24/11/2023 12:59:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[canciones](
	[canc_id] [int] IDENTITY(1,1) NOT NULL,
	[canc_direccion] [varchar](255) NOT NULL,
	[canc_portada_direccion] [varchar](255) NOT NULL,
	[canc_nombre] [varchar](255) NOT NULL,
	[canc_artista] [varchar](255) NOT NULL,
	[canc_cate_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[canc_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[canciones_opciones]    Script Date: 24/11/2023 12:59:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[canciones_opciones](
	[caop_id] [int] IDENTITY(1,1) NOT NULL,
	[caop_canc_id] [int] NOT NULL,
	[caop_opci_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[caop_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categorias]    Script Date: 24/11/2023 12:59:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categorias](
	[cate_id] [int] IDENTITY(1,1) NOT NULL,
	[cate_descripcion] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cate_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[opciones]    Script Date: 24/11/2023 12:59:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[opciones](
	[opci_id] [int] IDENTITY(1,1) NOT NULL,
	[opci_descripcion] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[opci_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[puntajes]    Script Date: 24/11/2023 12:59:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[puntajes](
	[punt_id] [int] IDENTITY(1,1) NOT NULL,
	[punt_usua_id] [int] NOT NULL,
	[punt_puntaje] [int] NOT NULL,
	[punt_tiempo] [varchar](255) NOT NULL,
	[punt_cate_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[punt_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 24/11/2023 12:59:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[usua_id] [int] IDENTITY(1,1) NOT NULL,
	[usua_nombre] [varchar](255) NOT NULL,
	[usua_contraseña] [varchar](255) NOT NULL,
	[usua_avat_id] [int] NOT NULL,
	[usua_alia_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[usua_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[canciones] ON 

INSERT [dbo].[canciones] ([canc_id], [canc_direccion], [canc_portada_direccion], [canc_nombre], [canc_artista], [canc_cate_id]) VALUES (1, N'\Canciones\Pop\7 rings.wav', N'\Imagenes\Portadas\Pop\7 rings.jpg', N'7 rings', N'Ariana Grande', 1)
INSERT [dbo].[canciones] ([canc_id], [canc_direccion], [canc_portada_direccion], [canc_nombre], [canc_artista], [canc_cate_id]) VALUES (2, N'\Canciones\Pop\Animnals.wav', N'\Imagenes\Portadas\Pop\Animals.jpg', N'Animals', N'Maroon 5', 1)
INSERT [dbo].[canciones] ([canc_id], [canc_direccion], [canc_portada_direccion], [canc_nombre], [canc_artista], [canc_cate_id]) VALUES (3, N'\Canciones\Pop\As It Was.wav', N'\Imagenes\Portadas\Pop\As It Was.jpg', N'As It Was', N'Harry Styles', 1)
GO
SET IDENTITY_INSERT [dbo].[canciones] OFF
GO
SET IDENTITY_INSERT [dbo].[canciones_opciones] ON 

INSERT [dbo].[canciones_opciones] ([caop_id], [caop_canc_id], [caop_opci_id]) VALUES (1, 1, 1)
INSERT [dbo].[canciones_opciones] ([caop_id], [caop_canc_id], [caop_opci_id]) VALUES (2, 1, 2)
INSERT [dbo].[canciones_opciones] ([caop_id], [caop_canc_id], [caop_opci_id]) VALUES (3, 1, 3)
GO
SET IDENTITY_INSERT [dbo].[canciones_opciones] OFF
GO
SET IDENTITY_INSERT [dbo].[categorias] ON 

INSERT [dbo].[categorias] ([cate_id], [cate_descripcion]) VALUES (1, N'Pop')
INSERT [dbo].[categorias] ([cate_id], [cate_descripcion]) VALUES (2, N'Rock')
INSERT [dbo].[categorias] ([cate_id], [cate_descripcion]) VALUES (3, N'Latino')
SET IDENTITY_INSERT [dbo].[categorias] OFF
GO
SET IDENTITY_INSERT [dbo].[opciones] ON 

INSERT [dbo].[opciones] ([opci_id], [opci_descripcion]) VALUES (1, N'thank u, next')
INSERT [dbo].[opciones] ([opci_id], [opci_descripcion]) VALUES (2, N'imagine')
INSERT [dbo].[opciones] ([opci_id], [opci_descripcion]) VALUES (3, N'bloodline')
GO
SET IDENTITY_INSERT [dbo].[opciones] OFF
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerCanciones]    Script Date: 24/11/2023 12:59:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_ObtenerCanciones](
    @categoria int
)
as
begin
    select top 5 canc_id, canc_nombre, canc_artista, canc_direccion, canc_portada_direccion 
    from canciones
    where canc_cate_id = @categoria
    order by NEWID();
end
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerOpciones]    Script Date: 24/11/2023 12:59:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_ObtenerOpciones](
	@id int
)
as
begin
select opci_descripcion from opciones
left join canciones_opciones on caop_opci_id = opci_id
left join canciones on canc_id = caop_canc_id
where caop_canc_id = @id
end
GO
USE [master]
GO
